{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}

[Unit]
Description=A server with cool rainbow cat
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=PORT={{ app_port }}
ExecStart=java -jar {{ app_dir }}/{{ app_file }} SuccessExitStatus=143
User=cat-server-admin2
Restart=on-failure
RestartSec=10
